<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>home work</title>
</head>
<body>
<h1>ქართველი მწერლები</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Aka_Morchiladze_4031.jpg/800px-Aka_Morchiladze_4031.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">აკა მორჩილაძე</h5>
                    <p class="card-text" style="font-size: 10px">1988 წელს თბილისის სახელმწიფო უნივერსიტეტის ისტორიის ფაკულტეტი დაამთავრა. აქვე
                        მუშაობს
                        ბოლო
                        17 წლის განმავლობაში. ის
                        ცოლი და ორი შვილი.</p>
                    <a href="/aka" class="btn btn-primary">ბიოგრაფია</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="https://matiane.files.wordpress.com/2013/02/akaki.png"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">აკაკი წერეთელი</h5>
                    <p class="card-text" style="font-size: 10px">აკაკი წერეთელი (დ.21 ივნისი [ძვ.სტ.9 ივნისი], 1840, სხვიტორი, იმერეთის ოლქი, რუსეთის იმპერია) — ქართველი პოეტი, მწერალი, პუბლიცისტი და საზოგადო მოღვაწე...</p>
                    <a href="" class="btn btn-primary">ბიოგრაფია</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="https://avatars.mds.yandex.net/i?id=8503d6540510d6d912d1bbb7c1ab7d82-4735414-images-thumbs&n=13"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ილია ჭავწავაძე</h5>
                    <p class="card-text" style="font-size: 10px">ილია ჭავჭავაძე (დ. 8 ნოემბერი, 1837, სოფელი ყვარელი — გ. 12 სექტემბერი, 1907, წიწამური) — ქართველი საზოგადო მოღვაწე, პუბლიცისტი, ჟურნალსტი, მწერალი, პოლიტკოსი რომელმა...</p>
                    <a href="" class="btn btn-primary">ბიოგრაფია</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="https://avatars.mds.yandex.net/i?id=ed0d55202f14f2e09abe324af716caf1-4552862-images-thumbs&n=13"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ვაჟა ფშაველა</h5>
                    <p class="card-text" style="font-size: 10px">ვაჟა-ფშაველა (ნამდვილი სახელი და გვარი ლუკა პავლეს ძე რაზიკაშვილი; დ. 14 (26) ივლისი, 1861 ან 15 (27) მაისი, 1862, ჩარგალი, ტფილისის გუბერნია, რუსეთის იმპერიაი. ქართველი საზოგადო მოღვაწე და მწერალი  </p>
                    <a href="" class="btn btn-primary">ბიოგრაფია</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>




</html>